
.App {
    margin: 0; 
    padding: 0; 
    background-image: url('../images/GT.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}