.order_form_container {
    height: 80vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .MuiButton-root {
        max-width: 100px;
        min-width: 75px;
    }

    //** For Comp Nav component */
    .comp_nav_buttons {
        display: flex;
        gap: 50px;
        margin-top: 5%;
    }

    //** Ticket Type components */
    .ticket_type_container {
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;

        .click_box {
            display: flex;
            flex-direction: column;
            gap: 8%;
            height: 80%;
            width: 80%;
            justify-content: center;
            align-items: center;
            
            &__div {
                width: 60vw;
                background-color: #db2525;
                color: #fff;
                text-align: center;
                line-height: 100px;
                cursor: pointer;
                font-weight: bold;
                font-size: 2vw;
            }
        }

    }

    //** For Event, Series component*/
    .select {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 100%;

        &__radios {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5%;
            font-size: large;
            font-weight: bold;
            height: 70%;

            input[type="radio"] {
                margin-right: 5%; 
              }
        }
    }

    .input {
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    }

}