.order_form_container {
    height: 80vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .MuiButton-root {
        max-width: 100px;
        min-width: 75px;
    }

    .comp_nav_buttons {
        display: flex;
        gap: 50px;
    }

    .select {
        display: flex;
        flex-direction: column;
        height: 80%;
        width: 100%;

        &__radios {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5%;
            font-size: large;
            font-weight: bold;
            height: 70%;

            input[type="radio"] {
                margin-right: 5%; 
              }
        }
    }

}