.rental_container {
	height: 80vh;
	width: 80vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.team_info {
		flex-direction: column;
		display: flex;
		height: 60%;
		width: 60%;
		justify-content: center;
		align-items: center;
		gap: 5%;
	}
	.rental__checkbox_container {
		display: flex;
		width: 100%;
		justify-content: space-between;

		.cable_checkbox {
			display: flex;
			width: 25%;
			gap: 5%;
			align-items: center;
			font-size: large;
		}
	}
}
