.click_component {
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;

	.click_box {
		display: flex;
		flex-direction: column;
		gap: 8%;
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		font-weight: bold;
		font-size: 2vw;

		//for event select, make gap smaller
		&__event {
			gap: 3%;
		}

		&__div {
			width: 70%;
			background-color: #db2525;
			color: #fff;
			text-align: center;
			line-height: 250%;
			cursor: pointer;
			border-radius: 6px;

			&.selected {
				background-color: #000000;
				color: #db2525;
				border: 1px solid red;
			}

			&.classif {
				width: 40%;
			}
		}

		&__event .click_box__div,
		&__div.eventOrder {
			line-height: 150%;
		}
	}
}
